<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwOKSYHfNYyVd0nHJQdoIXENk2GgrzJTg</string>
	<key>GCM_SENDER_ID</key>
	<string>214368446439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miggyb.QuestFit</string>
	<key>PROJECT_ID</key>
	<string>questfit-1c42a</string>
	<key>STORAGE_BUCKET</key>
	<string>questfit-1c42a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214368446439:ios:5c25fd7d41c68106857f42</string>
</dict>
</plist>